# git -pre-commit hook configuration.
# Run
#   pre-commit install
# to use it in a repository, then copy this file as .pre-commit-config.yaml
# and relint.yml as .relint.yml to the working copy root.
# https://pre-commit.com/ for main documentation,
# https://pre-commit.com/hooks.html for additional hooks.

default_language_version:   # needed so that relint doesn't use system default Python version
  python: python3

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  # Generally good ideas
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  # Whitespace cleanup
  - id: end-of-file-fixer
  - id: trailing-whitespace
  # File formats
  - id: check-executables-have-shebangs
  - id: check-yaml
  - id: check-json
  - id: check-toml
  - id: check-xml
  # Secrets
  - id: detect-private-key

# General
- repo: https://github.com/codingjoe/relint
  rev: 0.5.0
  hooks:
    - id: relint
